@import "tailwindcss";

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/SF Pro Text/SF-Pro-Text-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Light";
  src: url("/fonts/SF Pro Text/SF-Pro-Text-Light.otf") format("otf");
  font-weight: lighter;
  font-style: lighter;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
  }
}

body {
  font-family: "SF Pro", -apple-system, BlinkMacSystemFont, sans-serif;
  background: var(--background);
  color: var(--foreground);
  max-width: 400px;
  margin: 0 auto;
  position: relative;
}

.font-sf-light {
  font-family: "SF Pro Light", Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
