@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/SF Pro Text/SF-Pro-Text-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Light";
  src: url("/fonts/SF Pro Text/SF-Pro-Text-Light.otf") format("otf");
  font-weight: lighter;
  font-style: lighter;
}

:root {
  --color-background: #fff;
  --color-primary: #2e3e36;
}

.dark {
  --color-background: #2e3e36;
  --color-primary: #202e27;
}

@layer utilities {
  .color-primary {
    background-color: var(--color-primary);
  }

  .bg-primary {
    background-color: var(--color-background);
  }
}

body {
  font-family: "SF Pro", -apple-system, BlinkMacSystemFont, sans-serif;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
}

.font-sf-light {
  font-family: "SF Pro Light", Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
